.nav {
    background-color: #58595e;
    overflow: hidden;
    height: 77px;
}

.nav a {
    float: left;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 30px;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
}

.nav a.active {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}


body{
    background-color: #eaeaea;
    overflow: hidden;
}
.container{
    width: 1372px;
    height: 600px;
    position: absolute;
    top:58%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 50px;
    box-shadow: 0 30px 50px #dbdbdb;
}

#slide{
    width: max-content;
    margin-top: 50px;

}

.item{
    width: 200px;
    height: 300px;
    background-position: 50%, 50%;
    display: inline-block;
    position: absolute;
    top: 50px;
    /*transform: translateY(50%);*/
    margin-top: 150px;
    border-radius: 20px;
    box-shadow: 0 15px 25px #505050;
    transition: .5s ease-in;
}

.item:nth-child(1),
.item:nth-child(2){
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    /*transform: translate(0, 0);*/
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0;
    border-radius: 0;
    box-shadow: none;  
}
.item:nth-child(3){
    left: 50%;

} 
.item:nth-child(4){
    left: calc(50% + 220px)
}
.item:nth-child(5){
    left: calc(50% + 440px);
}
.item:nth-child(6){
    left: calc(50% + 660px);
    opacity: 0;
}

.item .content{
    width: 500px;
    position: absolute;
    left: 150px;
    top: 50%;
    transform: translateY(-50%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px; 
    color: #151212;
    display: none;
}

.item.content button {
    border-radius: 10px;
    background-color: #dff9fb;
    cursor: pointer;
}

.item:nth-child(2) .content{
    display: block;
}


.item .name{
    font-size: 90px;
    font-weight: bold;
    opacity: 0;
    animation: showcontent 1s ease-in-out 1 forwards;
}
.item .des{
    margin:20px 0;
    opacity: 0;
    animation: showcontent 1s ease-in-out 0.3s 1 forwards;
}
.item button {
    padding: 10px 20px;
    border: none;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    animation: showcontent 1s ease-in-out 0.6s 1 forwards;
    position: relative;
    overflow: hidden;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .item button:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease;
  }
  
  .item button:hover:before {
    left: 0;
  }
  
  @keyframes showcontent {
    0% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.8);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }


@keyframes showcontent{
    from{
        opacity: 0;
        transform:translateY(100px);
        filter: blur(20px);
    }
    to{
        opacity: 1;
        transform:translateY(0);
        filter: blur(0);
    }
}

.buttons{
    width: auto;
    position: absolute;
    bottom: 80px;
    margin-left: -35px;
    text-align:center;
    left: 50%;
    transform: translateX(-50%);  
    border: none;

}
.s_button{
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center; 
    color: rgba(0, 0, 0, 0.5);
    font-size: 30px;
    border-radius: 50%;
    font-weight: bold;
    margin: 0 25px;
    transition: .3s;
}
.s_button:hover{
    cursor:pointer;
    background-color: #ccc;
}

.icon{
    width: 50px;
    height: 50px
}

.icon_box {
    position: absolute;
    left: 35%;
    bottom: -7%;
    opacity: 0;
    animation: showcontent 1s ease-in-out 0.6s 1 forwards;
} 
