/*.navbar {
    background-color: #333;
    
    overflow: hidden;
}

.navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
}

.navbar a:hover {
    background-color: white;
    color: #652c0a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar a.active {
    background-color: #652c0a;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}*/


.navbar {
    margin-top: 8px;
    background-image: url("materialhead.gif");
    background-size: cover;
    overflow: hidden;
    height: 800px;
    
}
.navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 30px;
}
.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
}
.navbar a.active {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.text-head {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    color: white;
}

.text-head h1 {
    font-size: 85px;
    margin-bottom: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text-head p {
    font-size: 40px;
    margin-top: 100px;
}

button {
    background:  rgb(112, 100, 87);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  
.button:hover {
    transform: translateY(-2px);
  }


.text1 {
    padding: 20vh 0;
    text-align: center;
    margin-top: -80px;

    
}
.text1 h2 {
    font-size: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.text1 p {
    font-size: 25px;
    line-height: 1.3;
    max-width: 150vh;
    margin: 0 auto; 
    text-align: justify; 
}

.text1 p:after {
    content: "";
    display: block;
    border-bottom: 1px solid black;
    margin-top: 100px;
}

.text1  span {
    color: hsla(0, 0%, 80%, 0.2);
    background-image:  linear-gradient(90deg, rgb(77, 73, 73),rgb(77, 73, 73));
    background-clip: text;
    /*background-size: 0%, 100%;*/
    background-repeat: no-repeat;  
    animation: animateText  linear forwards 0.1s ;
    animation-timeline: view();
    animation-range: cover;
    
}    

@keyframes animateText {
    0%{
        background-size: 0% 100%;
    }
    50% {
        background-size: 100% 100%;
    }

}



.text2 {
    width: 550px;
    height: 800px;
    position: absolute;
    transform: translate(150%, 10%);
    
  }
.text2 h3 {
    font-size: 40px;
    color: rgb(105, 102, 102);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.text2 p {
    font-size: 25px;
    margin-top: 60px; 
    line-height: 1.3;
    color: rgb(105, 102, 102);
    text-align: justify;
    
}


.img1 {
    position: absolute;
    transform: translate(-15%, -15%) scale(0.6);
    display: inline-block;
}
.img1 img {
    display: block;
    width: 1080px;
    height: auto;
}
  
  .image-overlay1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(35, 32, 49, 0); 
    transition: background-color 0.3s ease;
}
  
.img1:hover .image-overlay1 {
    background-color: rgba(71, 68, 85, 0.5);
  }
  
.image-text1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease;
}
  
  .img1:hover .image-text1 {
    opacity: 1;
  }




.img2 {
    position: absolute;
    transform: translate(-15%, 60%) scale(0.6);
    display: inline-block;
}
.img2 img {
    display: block;
    width: 1080px;
    height: auto;
  }
  
.image-overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(35, 32, 49, 0); 
    transition: background-color 0.3s ease;
}
  
  .img2:hover .image-overlay2 {
    background-color: rgba(83, 91, 75, 0.5);
  }
  
.image-text2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
.img2:hover .image-text2 {
    opacity: 1;
  }




.img3 {
    position: absolute;
    transform: translate(-15%, 135%) scale(0.6);
    display: inline-block;
}
.img3 img {
    display: block;
    width: 1080px;
    height: auto;
 }
  
.image-overlay3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(35, 32, 49, 0); 
    transition: background-color 0.3s ease;
}
  
.img3:hover .image-overlay3 {
    background-color: rgba(74, 65, 45, 0.5);
}
  
.image-text3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
.img3:hover .image-text3 {
    opacity: 1;
  }



.img4 {
    position: absolute;
    transform: translate(175%, 495%) scale(1);
    display: inline-block;
}
.img4 img {
    display: block;
    width: 500px;
    height: auto;
  } 
.image-overlay4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(35, 32, 49, 0); 
    transition: background-color 0.3s ease;
} 
.img4:hover .image-overlay4 {
    background-color: rgba(35, 32, 49, 0.5);
} 
.image-text4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease;
  } 
.img4:hover .image-text4 {
    opacity: 1;
  }




.img5 {
    position: relative;
    transform: translate(-10%, 190%) scale(0.7);
    display: inline-block;
}
.img5 img {
    display: block;
    width: 1080px;
    height: auto;
} 
.image-overlay5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(35, 32, 49, 0); 
    transition: background-color 0.3s ease;
} 
.img5:hover .image-overlay5 {
    background-color: rgba(35, 32, 49, 0.5);
}
.image-text5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.img5:hover .image-text5 {
    opacity: 1;
}

  

.text3{
    width: 500px;
    height: 200px;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(105, 102, 102);
    transform: translate(175%, 1015%);
}

.gallery {
    margin-top: 1130px;
    margin-left: 1200px;
    position: absolute;
  } 
.gallery button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #22354e;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}  
.gallery button:hover {
    background-color: rgb(49, 63, 108);
}



body {
    margin: 0;
    padding: 0;
  }  
header {
    margin-top: 1400px;
    background-color: #f2f2f2;
    padding: 50px;
    text-align: center;
}

.bottom-nav {
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-seri;
}
.bottom-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    transform: translate(108%, 40%);
}
.bottom-nav ul li {
    display: inline-block;
    margin: 0 10px;
    
}
.bottom-nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
}
.bottom-nav ul li a:hover {
    color: #7e7c6d;
}
.content {
    margin-bottom: 30px;
}
.content::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #000;
}
.bottom-nav p{

    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transform: translate(-200%, -200%);
    text-align: left;
}